In [4]:
import pandas as pd
import numpy as np
#import seaborn as sns
#import matplotlib.pyplot as plt
#%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, MultinomialNB, CategoricalNB, ComplementNB
from sklearn.metrics import accuracy_score

In [5]:
test = '/content/drive/MyDrive/data/hotel_test.csv'
train = '/content/drive/MyDrive/data/hotel_train.csv'

In [6]:
df_test = pd.read_csv(test)
df_test = df_test.drop('Unnamed: 0',axis=1)
df_test

         srch_id  ... orig_destination_distance
0         480130  ...                   5410.16
1         375759  ...                   1413.00
2          75275  ...                     78.42
3         349998  ...                    210.95
4         601627  ...                      0.00
...          ...  ...                       ...
1999995   134853  ...                      0.00
1999996   104260  ...                      0.00
1999997   248343  ...                    102.77
1999998   248298  ...                      0.00
1999999   427295  ...                      0.00

[2000000 rows x 25 columns]

In [7]:
df_train = pd.read_csv(train)
df_train = df_train.drop('Unnamed: 0',axis=1)
df_train

         srch_id  ... orig_destination_distance
0             31  ...                      0.00
1             43  ...                    113.88
2            126  ...                      0.00
3            136  ...                    164.24
4            168  ...                      0.00
...          ...  ...                       ...
3039064   665566  ...                   2382.05
3039065   665566  ...                   2382.09
3039066   665566  ...                   2390.21
3039067   665566  ...                   2390.00
3039068   665566  ...                   2389.60

[3039069 rows x 25 columns]

In [12]:
X_train = np.array(df_train.iloc[:, [9,11,13]])
X_test = np.array(df_test.iloc[:, [9,11,13]])
Y_train = np.array(df_train.iloc[:, 8])
Y_train = Y_train.ravel()
Y_test = np.array(df_test.iloc[:, 8])
Y_test = Y_test.ravel()
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(3039069, 3)
(2000000, 3)
(3039069,)
(2000000,)

In [13]:
GNB = GaussianNB()

In [14]:
GNB.fit(X_train, Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [15]:
GNB.score(X_train, Y_train)

0.5977527986366877

In [16]:
GNB.score(X_test, Y_test)

0.59806

In [17]:
P_GNB = GaussianNB(priors=[1/21,4/21,8/21,6/21,2/21])

In [18]:
P_GNB.fit(X_train, Y_train)

GaussianNB(priors=[0.047619047619047616, 0.19047619047619047,
                   0.38095238095238093, 0.2857142857142857,
                   0.09523809523809523],
           var_smoothing=1e-09)

In [19]:
P_GNB.score(X_train, Y_train)

0.5909569674133756

In [20]:
P_GNB.score(X_test, Y_test)

0.5912595