In [247]:
import pandas as pd
import numpy as np
#import seaborn as sns
#import matplotlib.pyplot as plt
#%matplotlib inline
from sklearn.naive_bayes import GaussianNB, MultinomialNB, CategoricalNB, ComplementNB
from sklearn import metrics
from imblearn.over_sampling import SMOTE

In [248]:
test = '/content/drive/MyDrive/data/hotel_test.csv'
train = '/content/drive/MyDrive/data/hotel_train.csv'

In [249]:
df_test = pd.read_csv(test)
df_test = df_test.drop('Unnamed: 0',axis=1)
df_test

         srch_id  ... orig_destination_distance
0         480130  ...                   5410.16
1         375759  ...                   1413.00
2          75275  ...                     78.42
3         349998  ...                    210.95
4         601627  ...                      0.00
...          ...  ...                       ...
1999995   134853  ...                      0.00
1999996   104260  ...                      0.00
1999997   248343  ...                    102.77
1999998   248298  ...                      0.00
1999999   427295  ...                      0.00

[2000000 rows x 25 columns]

In [250]:
df_train = pd.read_csv(train)
df_train = df_train.drop('Unnamed: 0',axis=1)
df_train

         srch_id  ... orig_destination_distance
0             31  ...                      0.00
1             43  ...                    113.88
2            126  ...                      0.00
3            136  ...                    164.24
4            168  ...                      0.00
...          ...  ...                       ...
3039064   665566  ...                   2382.05
3039065   665566  ...                   2382.09
3039066   665566  ...                   2390.21
3039067   665566  ...                   2390.00
3039068   665566  ...                   2389.60

[3039069 rows x 25 columns]

In [251]:
df_train.iloc[:,8:16]

         prop_starrating  prop_review_score  ...  price_usd  promotion_flag
0                      1                1.5  ...      73.84               0
1                      1                3.0  ...      50.00               0
2                      1                4.0  ...      79.18               0
3                      1                2.5  ...      40.00               0
4                      1                2.5  ...      39.21               0
...                  ...                ...  ...        ...             ...
3039064                3                4.5  ...     148.14               0
3039065                3                4.5  ...     144.26               0
3039066                4                4.0  ...     174.23               0
3039067                4                4.5  ...     412.15               0
3039068                3                4.0  ...     241.08               0

[3039069 rows x 8 columns]

In [252]:
X_train = np.array(df_train.iloc[:, [9,11,13]])
X_test = np.array(df_test.iloc[:, [9,11,13]])
Y_train = np.array(df_train.iloc[:, 8])
Y_train = Y_train.ravel()
Y_test = np.array(df_test.iloc[:, 8])
Y_test = Y_test.ravel()
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(3039069, 3)
(2000000, 3)
(3039069,)
(2000000,)

In [253]:
GNB = GaussianNB()

In [254]:
GNB.fit(X_train, Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [255]:
GNB.score(X_train, Y_train)

0.5977527986366877

In [256]:
GNB.score(X_test, Y_test)

0.59806

In [257]:
expected = Y_test
predicted = GNB.predict(X_test)
print(metrics.classification_report(expected, predicted))

              precision    recall  f1-score   support

           1       0.16      0.03      0.06     16200
           2       0.65      0.61      0.63    362079
           3       0.60      0.66      0.63    798454
           4       0.58      0.57      0.58    647632
           5       0.56      0.42      0.48    175635

    accuracy                           0.60   2000000
   macro avg       0.51      0.46      0.47   2000000
weighted avg       0.60      0.60      0.59   2000000

In [258]:
SMT = SMOTE(ratio='auto', kind='regular')

In [259]:
X_resampled, Y_resampled = SMT.fit_sample(X_train,list(Y_train))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [260]:
GNB.fit(X_resampled, Y_resampled)

GaussianNB(priors=None, var_smoothing=1e-09)

In [261]:
GNB.score(X_resampled, Y_resampled)

0.5428178368981688

In [262]:
GNB.score(X_train, Y_train)

0.5076284875400986

In [263]:
GNB.score(X_test, Y_test)

0.508104

In [264]:
expected = Y_test
predicted = GNB.predict(X_test)
print(metrics.classification_report(expected, predicted))

              precision    recall  f1-score   support

           1       0.06      0.46      0.11     16200
           2       0.58      0.63      0.61    362079
           3       0.64      0.52      0.57    798454
           4       0.53      0.36      0.43    647632
           5       0.33      0.74      0.46    175635

    accuracy                           0.51   2000000
   macro avg       0.43      0.54      0.44   2000000
weighted avg       0.56      0.51      0.52   2000000

In [265]:
df_train.iloc[:, [9,11,13,14,17,21]]

         prop_review_score  ...  srch_room_count
0                      1.5  ...                1
1                      3.0  ...                1
2                      4.0  ...                2
3                      2.5  ...                1
4                      2.5  ...                1
...                    ...  ...              ...
3039064                4.5  ...                1
3039065                4.5  ...                1
3039066                4.0  ...                1
3039067                4.5  ...                1
3039068                4.0  ...                1

[3039069 rows x 6 columns]

In [266]:
X_train_clu = np.array(df_train.iloc[:, [9,11,13,14,17,21]])
X_test_clu = np.array(df_test.iloc[:, [9,11,13,14,17,21]])
Y_train_clu = np.array(df_train.iloc[:, 8])
Y_train_clu = Y_train_clu.ravel()
Y_test_clu = np.array(df_test.iloc[:, 8])
Y_test_clu = Y_test_clu.ravel()
print(X_train_clu.shape)
print(X_test_clu.shape)
print(Y_train_clu.shape)
print(Y_test_clu.shape)

(3039069, 6)
(2000000, 6)
(3039069,)
(2000000,)

In [267]:
GNB.fit(X_train_clu, Y_train_clu)

GaussianNB(priors=None, var_smoothing=1e-09)

In [268]:
GNB.score(X_train_clu, Y_train_clu)

0.546694069795717

In [269]:
GNB.score(X_test_clu, Y_test_clu)

0.5464845

In [270]:
expected = Y_test_clu
predicted = GNB.predict(X_test_clu)
print(metrics.classification_report(expected, predicted))

              precision    recall  f1-score   support

           1       0.10      0.05      0.06     16200
           2       0.58      0.74      0.65    362079
           3       0.53      0.71      0.61    798454
           4       0.55      0.39      0.46    647632
           5       0.50      0.02      0.05    175635

    accuracy                           0.55   2000000
   macro avg       0.45      0.38      0.37   2000000
weighted avg       0.54      0.55      0.51   2000000

In [271]:
P_GNB = GaussianNB(priors=[1/21,4/21,8/21,6/21,2/21])

In [272]:
P_GNB.fit(X_train, Y_train)

GaussianNB(priors=[0.047619047619047616, 0.19047619047619047,
                   0.38095238095238093, 0.2857142857142857,
                   0.09523809523809523],
           var_smoothing=1e-09)

In [273]:
P_GNB.score(X_train, Y_train)

0.5909569674133756

In [274]:
P_GNB.score(X_test, Y_test)

0.5912595

In [275]:
MNB = MultinomialNB()

In [276]:
MNB.fit(X_train, Y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [277]:
MNB.score(X_train, Y_train)

0.4200263304321159

In [278]:
MNB.score(X_test, Y_test)

0.419094

In [279]:
CNB = CategoricalNB()

In [280]:
CNB.fit(X_train, Y_train)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [281]:
CNB.score(X_train, Y_train)

0.5599333216850292

In [282]:
CNB.score(X_test, Y_test)

0.560134

In [283]:
expected = Y_test
predicted = CNB.predict(X_test)
print(metrics.classification_report(expected, predicted))

              precision    recall  f1-score   support

           1       0.41      0.02      0.03     16200
           2       0.57      0.61      0.59    362079
           3       0.57      0.53      0.55    798454
           4       0.54      0.65      0.59    647632
           5       0.57      0.30      0.40    175635

    accuracy                           0.56   2000000
   macro avg       0.53      0.42      0.43   2000000
weighted avg       0.56      0.56      0.55   2000000

In [284]:
df_train.iloc[:, [7,9,11,13,17,21]]

         prop_id  prop_review_score  ...  srch_length_of_stay  srch_room_count
0         122877                1.5  ...                    1                1
1          77411                3.0  ...                    1                1
2           3526                4.0  ...                    2                2
3          75245                2.5  ...                    2                1
4          13108                2.5  ...                    1                1
...          ...                ...  ...                  ...              ...
3039064    99741                4.5  ...                    3                1
3039065   104685                4.5  ...                    3                1
3039066   109868                4.0  ...                    3                1
3039067   117582                4.5  ...                    3                1
3039068   131352                4.0  ...                    3                1

[3039069 rows x 6 columns]

In [285]:
X_train_cat = np.array(df_train.iloc[:, [7,9,11,13,17,21]])
X_test_cat = np.array(df_test.iloc[:, [7,9,11,13,17,21]])
Y_train_cat = np.array(df_train.iloc[:, 8])
Y_train_cat = Y_train_cat.ravel()
Y_test_cat = np.array(df_test.iloc[:, 8])
Y_test_cat = Y_test_cat.ravel()
print(X_train_cat.shape)
print(X_test_cat.shape)
print(Y_train_cat.shape)
print(Y_test_cat.shape)

(3039069, 6)
(2000000, 6)
(3039069,)
(2000000,)

In [286]:
CNB.fit(X_train_cat, Y_train_cat)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [287]:
CNB.score(X_train_cat, Y_train_cat)

0.9873981143567323

In [288]:
CNB.score(X_test_cat, Y_test_cat)

0.985654

In [289]:
expected = Y_test_clu
predicted = CNB.predict(X_test_cat)
print(metrics.classification_report(expected, predicted))

              precision    recall  f1-score   support

           1       0.94      0.93      0.93     16200
           2       0.96      0.99      0.97    362079
           3       0.99      0.99      0.99    798454
           4       1.00      0.98      0.99    647632
           5       0.98      0.98      0.98    175635

    accuracy                           0.99   2000000
   macro avg       0.97      0.97      0.97   2000000
weighted avg       0.99      0.99      0.99   2000000

In [290]:
CPNB = ComplementNB()

In [291]:
CPNB.fit(X_train, Y_train)

ComplementNB(alpha=1.0, class_prior=None, fit_prior=True, norm=False)

In [292]:
CPNB.score(X_train, Y_train)

0.4477052018233216

In [293]:
CPNB.score(X_test, Y_test)

0.44699